@charset "utf-8";

/* noto sans 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* 공통으로 사용할 변수 선언 */
:root{
  --main_txt_color:#333;
  --bgColor1:#000;
  --bgColor2:#7c7c7c;
  --txtColor1:#fff;
  --base_font_size:12px;
  --base_font_family:'Noto Sans KR', arial, sans-serif;
}

/* 공통서식 */
/* 1. 글자모양, 크기, 색상 */
body{
  font-family: var(--base_font_family), arial, sans-serif;
  font-size:var(--base_font_size);
  color:var(--main_txt_color);
}

/* 2. 링크 서식 (글자 모양, 색상, 크기) */
a{
  font-family: var(--base_font_family);
  font-size:var(--base_font_size);
  text-decoration:none;
}

/* 3. 서브페이지 공통 UI서식 */
/* 버튼, INPUT, 네비게이션, 메뉴......
 */

 .toggle_btn, .cart_btn{
  position: absolute; top: 13px;
 }

 .toggle_btn{
  left: 14px;
  background: none;
  border: none;
}

.cart_btn{ right: 14px;}
.toggle_btn img, .cart_btn img{
  width: 36px;
}

/* 모바일 네비게이션 서식 */
.navi{
  background: var(--bgColor1);
  width: 100%; height: 100%;
  position: fixed;
  top: 0;left: -100%;
  z-index: 1000;
  transition: 0.3s;
}

/* 닫기 버튼 서식 */
.close_btn{
  border: none;
  background: none;
  position: absolute;
  top: 20px;left: 5%;
}

/* 네비게이션 서식 */
.gnb{
  width: 90%;
  margin: 80px auto 0 auto;
}
.gnb > li{
  line-height: 44px;
  border-bottom: 1px solid #7c7c7c;
  text-indent: 10px;
}
.gnb > li > a{
  display: block;
  font-size:1rem;
  transition: 0.3s;
  color: var(--txtColor1);
}
.gnb > li > a:hover{
  background: #7c7c7c;
}

/* 로그인, 회원가입, 장바구니, 주문조회 버튼 서식 */
.form_navi{
  width:90%; margin: 30px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.form_navi li{
  width: 48.74%;
  line-height: 40px;
  display: inline-block;
  background: #7c7c7c;
  margin: 1px 0.20%;
  text-align: center;
}
.form_navi li a{
  color: var(--txtColor1);
  font-size: 0.92rem;
  display: block;
}

.member_info{
  color:var(--txtColor1);
  text-align: right;
  font-size: 1.1rem;
}

.logout_btn{
  background: none;
  border: none;
  padding: 0;
  color: var(--txtColor1);
  font-size: 0.92rem;
  cursor: pointer;
}
